/* Configuração Geral */
* {
	/*list-style: none;*/
	font-family: "Bitstream Vera Sans", Verdana, Tahoma, "Times New Roman";
	/*font-size: 11px;
	margin: 0px;
	padding: 0px;
	border: 0px;*/
}
* img {
	border: 0px;
}
* table,tr,td,img {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
* p {
	text-align: justify;
	font-size: 11px;
}
* li {
	text-align: justify;
	font-size: 11px;
}

/** ul,ol {
	padding-left: 25px;
	padding-top: 7px;
	padding-bottom: 7px;
}*/

/* Configuração de Formulário */
* fieldset {
	padding: 10px;
	margin: 5px;
	font-size: 11px;
}
fieldset legend {
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 11px;
}
fieldset label {
	display:block;
	padding-top: 5px;
	font-size: 11px;
}
fieldset input {
	width: 99%;
	font-size: 11px;
}
fieldset select {
	width: 99%;
	font-size: 11px;
}
fieldset textarea {
	width: 99%;
	font-size: 11px;
}
div#button {
	text-align: right;
	padding-right: 10px;
	font-size: 11px;
}
div#button input {
	width: 35%;
	font-size: 11px;
}

/* Configuração de Box de Mensagem */
fieldset#box {
	vertical-align: top;
}
fieldset#box.ok {
	border: 1px;
	border-style: solid;
	border-color: #66CC33;
	background-color: #CDFFCD;
}
fieldset#box.erro {
	border: 1px;
	border-style: solid;
	border-color: #FF6666;
	background-color: #FFCDCD;
}
fieldset#box.warning {
	border: 1px;
	border-style: solid;
	border-color: #FFCC66;
	background-color: #FFFFCD;
}
fieldset#box.question {
	border: 1px;
	border-style: solid;
	border-color: #FFCC66;
	background-color: #FFFFCD;
}
fieldset#box .icon {
	float: left;
	padding-right: 10px;
}
fieldset#box .title {
	width: 10px;
}

/* Configuração de Link */
a {
	color:#000000;
	text-decoration: none;
}
a:hover {
	color:#336699;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

/* Configuração de Título */
h1 {
	color: #990000;
	/*font-size: 24px;
	font-weight: bold;*/
}
/*h2 {
	font-size: 22px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}*/

/* Configuração da Página */
body {
	background-color: #990000;
}

/* Configuração do Layout */
div#layout {
	visibility: visible;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin: 0 auto;
	margin-left: -371px;
	width: 741px;
	height: 100%;
	vertical-align: top;
	text-align: center;
	display: block;
}
table#container {
	width: 741px;
	height: 100%;
}

/* Configuração do Topo */
tr#topo {
	width: 741px;
	height: 125px;
	vertical-align: bottom;
}

/* Configuração do Menu */
tr#menu {
	width: 741px;
	height: 56px;
}

/* Configuração do Corpo */
tr#corpo {
	width: 741px;
	vertical-align: top;
	background-image: url("images/background.gif");
	background-position: center;
	background-repeat: repeat-y;
	padding-left: 70px;
	padding-right: 71px;
}
div#conteudo {
	width: 600px;
	margin-top: 13px;
	margin-left: 70px;
	margin-right: 71px;
	margin-bottom: 13px;
}

/* Configuração do Jingle */
tr#jingle {
	width: 741px;
	vertical-align: top;
	background-image: url("images/background.gif");
	background-position: center;
	background-repeat: repeat-y;
	padding-left: 70px;
	padding-right: 71px;
	vertical-align: bottom;
}
div#jingle {
	width: 600px;
	margin-top: 13px;
	margin-left: 70px;
	margin-right: 71px;
	margin-bottom: 13px;
}

/* Configuração do Rodape */
tr#rodape {
	width: 741px;
	height: 65px;
	vertical-align: top;
}
tr#rodape table#divisoria {
	width: 646px;
	margin-left: 47px;
}