div#conteudo .foto-esquerda {
	float: left;
	padding-right: 15px;
}

div#conteudo .foto-direita {
	float: right;
	padding-left: 15px;
}

div#conteudo .titulo {
	font-size: 24px;
	color: #990000;
	font-weight: bold;
}

div#conteudo .icone {
	text-align: center;
	padding-top: 15px;
}

div#conteudo .buttonback {
	text-align: right;
	float: right;
}

span.agenda-titulo {
	font-size: 14px;
	font-weight: bold;
}

span.assinatura-depoimento {
	font-size: 14px;
	font-weight: bold;
}

span.jingle-material {
	font-size: 14px;
	font-weight: bold;
}

span.titulo-projeto {
	font-size: 14px;
	font-weight: bold;
}

span.titulo-noticia {
	color: #FF0000;
	font-weight: bold;
}

span.noticia-detalhe {
	color: #FF0000;
	font-style: italic;
	font-size: 10px;
}

p.noticias-paginacao {
	font-size: 12px;
	text-align: center;
}


input.checkbox {
	width: auto;
	margin-left: 20px;
}